:root {
  --primary-color: #8B4BA5;
  --secondary-color: #6B4390;
  --tertiary-color: #50307A;
  --accent-color: #834590;
  --dark-color: #160135;
  font-size: 20px;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  margin: 0;
  position: relative;
}

body::before{
  content: "";
  position: absolute;
  top:0;
  left:0;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6)), url('../images/4393815_3154.jpg');
  background-size: cover;
  background-repeat: repeat;
  background-position: center center;
  background-attachment: fixed;

}

.navbar {
  background: linear-gradient(to center, var(--primary-color), var(--secondary-color), var(--tertiary-color));
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}

.navbar-brand {
  color: #fff;
  font-weight: bold;
}

.nav-link {
  color: white;
  font-weight: bold;
  margin: 0;
  height: 100%;
  width: 100%;
  padding: 4px;
  border-radius: 4px;
  cursor: pointer;
}


.nav-link:hover {
  background-color: var(--primary-color);
}

.nav-link.logout:hover{
  background-color: red;
}

.navbar-collapse {
  justify-content: flex-end;
}

.nav-item {
  margin-left: 10px;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  padding: 10px;
  text-align: center;
}

.footer p {
  color: black;
  margin: 0;
}



.url-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.8);
  padding: 40px;
  border-radius: 8px;
  backdrop-filter: blur(10px);
  text-align: center;
  width: auto; /* Adjust the width as needed */
  max-width: 90%; /* Limit the maximum width if necessary */
}

.url-form h2 {
  color: var(--primary-color);
  margin-bottom: 20px;
  font-size: 24px; /* Increase the font size as needed */
}

.url-form .form-group {
  margin-bottom: 20px;
}

.url-form .form-input {
  width: 100%;
  padding: 12px;
  font-size: 16px; /* Increase the font size as needed */
}

.url-form .btn-shorten {
  width: 100%;
  padding: 12px;
  font-size: 18px; /* Increase the font size as needed */
}

.url-card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.8);
  padding: 40px;
  border-radius: 8px;
  backdrop-filter: blur(10px);
  text-align: center;
  width: 500px; /* Adjust the width as needed */
  max-width: 90%; /* Limit the maximum width if necessary */
}

.url-card h2 {
  color: var(--primary-color);
  margin-bottom: 20px;
  font-size: 24px; /* Increase the font size as needed */
}

.url-card .url-info {
  margin-bottom: 20px;
}

.url-card .url-info p {
  margin-bottom: 10px;
}

.url-card .url-info strong {
  color: var(--secondary-color);
}

.url-card .url-info span {
  color: var(--primary-color);
}

.url-card .url-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  flex-basis:33%;
}


.url-card .btn,.url-card .a {
  width: 100%; /* Adjust the width as needed */
  height: 40px; /* Adjust the height as needed */
  font-size: 15px; /* Adjust the font size as needed */
  margin:0 5px;
  border-radius: 4px;
  cursor: pointer;
}

#shorten{
   font-size: 20px;
   height: 50px;
   
}





/* ---------loginform------------------- */
.login-form,.signup-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.8);
  padding: 40px;
  border-radius: 8px;
  backdrop-filter: blur(10px);
  text-align: center;
  width: 400px; /* Adjust the width as needed */
  max-width: 90%; /* Limit the maximum width if necessary */
}

.login-form h2 , .signup-form h2 {
  color: var(--primary-color);
  margin-bottom: 10px;
  font-size: 40px; /* Increase the font size as needed */
}

.login-form .form-group , .signup-form .form-group{
  margin-bottom: 20px;
}

.login-form .form-control , .signup-form .form-control{
  width: 100%;
  height: 40px; /* Adjust the height as needed */
  padding: 0 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

#passkey{
  display: relative;
}

#show-pass{
  position: absolute;
  top: 45%;
  right: 12%;
  border: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5px;
  height: auto;
}

.login-form .btn-login , .signup-form .btn-login{
  width: 100%;
  height: 40px; /* Adjust the height as needed */
  font-size: 20px; /* Adjust the font size as needed */
  border-radius: 4px;
  cursor: pointer;
}


.login-form .signup-link , .signup-form .login-link {
  margin-top: 25px;
  color: var(--primary-color);
  font-size: 18px; /* Adjust the font size as needed */
}

#show-pass-signup{
  position: absolute;
  top: 46%;
  right: 12%;
  border: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5px;
  height: auto;
}

#show-pass2-signup{
  position: absolute;
  top: 58.2%;
  right: 12%;
  border: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5px;
  height: auto;
}

/*-------------------------------------- --------------history---------------------------------------------- */
.history-page{
  padding: 20px;
}


.search-form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  position: relative;
  right: 20vh;
}

.search-input {
  height: 30px;
  padding: 0 10px;
  border-radius: 4px;
  border: none;
  background-color: transparent;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8));
  color: #333;
 
}

.search-button,
.reset-button {
  height: 30px;
  padding: 0 10px;
  border-radius: 4px;
  border: none;
  background-color: var(--primary-color);
  color: #fff;
  cursor: pointer;
  margin-left: 10px;
}

.reset-button{
  background-color: orangered;
}

.cards-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.card {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 8px;
  backdrop-filter: blur(10px);
  padding: 20px;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}

.card-header{
  text-align: center;
 
 
}

.card-header em{
  font-size: 30px;
}

.card-header img {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

.card-heading {
  color: var(--primary-color);
  font-size: 18px; /* Increase the font size as needed */
  margin: 0;
}

.card-body {
  margin-top: 10px;
  font-size: 16px; /* Adjust the font size as needed */
  width: 100%;
  padding: 0;
}

.card-body strong{
  color: var(--primary-color);

}

.shortid,
.original-url {
  margin: 10px 0;

}

.card-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  flex-wrap: wrap;
}

.btn {
  padding: 8px 12px;
  font-size: 14px; /* Adjust the font size as needed */
  border-radius: 4px;
  cursor: pointer;
}

.info-url{
  display: flex;
  align-items: center;
  justify-content: flex-start;
}


#favico-img{
  width: 24px;
  height: 24px;

}

.card-links{
  height: 150px;
}
 

/* 

---------------------animation------------- */

.flash-message {
  display: inline-block;
  background-color: #6B4390;
  color: #fff;
  padding: 5px 10px;
  border-radius: 3px;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
}

@keyframes flash-message-animation {
  0% {
    transform: translateX(-50%) scale(1);
  }
  50% {
    transform: translateX(-50%) scale(1.2);
  }
  100% {
    transform: translateX(-50%) scale(1);
  }
}


/* --------------pagination ---------------------------- */
.pagination {
  position: relative;
  display: flex;
  align-items: center;
  margin-top: 20px;
  right: 0;
  
}

.pagination a {
  margin: 0 5px;
  padding: 5px 10px;
  text-decoration: none;
  color: #fff;
  background-color: #6B4390;
  border-radius: 3px;
  transition: background-color 0.3s ease-in-out;
}

.pagination a:hover {
  background-color: #50307A;
}

.pagination .active {
  background-color: #8B4BA5;
}

.pagination .disabled {
  pointer-events: none;
  opacity: 0.6;
}

.pagination-bar {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.top-container{
  
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
    margin-top: 20px;
}

.password-mismatch {
  border-color: red;
}

#flash-message{
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 5px;
  color: red;
}