<!DOCTYPE html>
<html lang="en">
    <head>
        <title>URL</title>
    </head>
    <body>
        <h1>Sign Up</h1>
        

        <form action="/user" method="post">
            <input type="text" name="name" placeholder="Enter Your Name" />
            <input type="text" name="email" placeholder="Enter Email ID" />
            <input type="password" name="password" placeholder="Enter Password" />
            <button type="submit">Sign Up</button>
        </form>

       
    </body>
</html>
